.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    background-color:black;
        
}
.Header h1{
    font-size:50px;
    color: white;
    margin: 20px;
    padding: 20px;
    justify-content: center;

}

.Header h2{
    font-size:30px;
    color: white;
    margin: 20px;
    padding: 20px;
    justify-content: center;

}